In [105]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import average_precision_score
from sklearn.metrics import confusion_matrix

In [106]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,NaN

In [107]:
df_subset = df[["PassengerId","Age",  "Survived", "Pclass", "SibSp", "Parch", "Sex"]]
df_subset.head()
df_subset = df_subset.dropna()
df_subset.head()

   PassengerId   Age  Survived  Pclass  SibSp  Parch     Sex
0            1  22.0         0       3      1      0    male
1            2  38.0         1       1      1      0  female
2            3  26.0         1       3      0      0  female
3            4  35.0         1       1      1      0  female
4            5  35.0         0       3      0      0    male

In [108]:
df_dummy = pd.get_dummies(df_subset["Sex"], prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)
df_dummy

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
18        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
27        0     1
30        0     1
33        0     1
34        0     1
35        0     1
37        0     1
38        1     0
..      ...   ...
856       1     0
857       0     1
858       1     0
860       0     1
861       0     1
862       1     0
864       0     1
865       1     0
866       1     0
867       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[714 rows x 2 columns]

In [109]:
df_subset.update(df_dummy)

In [110]:
df_subset = pd.merge(df_subset, df_dummy, on=None, left_on=None, right_on=None, left_index=True, right_index=True)
df_subset.head()
df_subset = df_subset[["PassengerId","Age",  "Survived", "Pclass", "SibSp", "Parch", "female", "male"]]
df_subset

     PassengerId   Age  Survived  Pclass  SibSp  Parch  female  male
0              1  22.0         0       3      1      0       0     1
1              2  38.0         1       1      1      0       1     0
2              3  26.0         1       3      0      0       1     0
3              4  35.0         1       1      1      0       1     0
4              5  35.0         0       3      0      0       0     1
6              7  54.0         0       1      0      0       0     1
7              8   2.0         0       3      3      1       0     1
8              9  27.0         1       3      0      2       1     0
9             10  14.0         1       2      1      0       1     0
10            11   4.0         1       3      1      1       1     0
11            12  58.0         1       1      0      0       1     0
12            13  20.0         0       3      0      0       0     1
13            14  39.0         0       3      1      5       0     1
14            15  14.0         0       3      0      0       1     0
15            16  55.0         1       2      0      0       1     0
16            17   2.0         0       3      4      1       0     1
18            19  31.0         0       3      1      0       1     0
20            21  35.0         0       2      0      0       0     1
21            22  34.0         1       2      0      0       0     1
22            23  15.0         1       3      0      0       1     0
23            24  28.0         1       1      0      0       0     1
24            25   8.0         0       3      3      1       1     0
25            26  38.0         1       3      1      5       1     0
27            28  19.0         0       1      3      2       0     1
30            31  40.0         0       1      0      0       0     1
33            34  66.0         0       2      0      0       0     1
34            35  28.0         0       1      1      0       0     1
35            36  42.0         0       1      1      0       0     1
37            38  21.0         0       3      0      0       0     1
38            39  18.0         0       3      2      0       1     0
..           ...   ...       ...     ...    ...    ...     ...   ...
856          857  45.0         1       1      1      1       1     0
857          858  51.0         1       1      0      0       0     1
858          859  24.0         1       3      0      3       1     0
860          861  41.0         0       3      2      0       0     1
861          862  21.0         0       2      1      0       0     1
862          863  48.0         1       1      0      0       1     0
864          865  24.0         0       2      0      0       0     1
865          866  42.0         1       2      0      0       1     0
866          867  27.0         1       2      1      0       1     0
867          868  31.0         0       1      0      0       0     1
869          870   4.0         1       3      1      1       0     1
870          871  26.0         0       3      0      0       0     1
871          872  47.0         1       1      1      1       1     0
872          873  33.0         0       1      0      0       0     1
873          874  47.0         0       3      0      0       0     1
874          875  28.0         1       2      1      0       1     0
875          876  15.0         1       3      0      0       1     0
876          877  20.0         0       3      0      0       0     1
877          878  19.0         0       3      0      0       0     1
879          880  56.0         1       1      0      1       1     0
880          881  25.0         1       2      0      1       1     0
881          882  33.0         0       3      0      0       0     1
882          883  22.0         0       3      0      0       1     0
883          884  28.0         0       2      0      0       0     1
884          885  25.0         0       3      0      0       0     1
885          886  39.0         0       3      0      5       1     0
886          887  27.0         0       2      0      0       0     1
887          888  19.0         1       1      0      0       1     0
889          890  26.0         1       1      0      0       0     1
890          891  32.0         0       3      0      0       0     1

[714 rows x 8 columns]

In [111]:
X = df_subset[["Age", "Pclass", "SibSp", "Parch", "female", "male"]] #create the X matrix
X = normalize(X) #normalize the matrix to put everything on the same scale
y = df_subset['Survived'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

In [126]:
knn = KNeighborsClassifier(n_neighbors=10) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

0.813953488372093

### Calculate Accuracy, precision, recall for survival

In [127]:
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[119,  15],
       [ 25,  56]])

In [128]:
#In order to read it easily , let's make a dataframe out of it, and add labels to it.
conf_matrix = pd.DataFrame(cm, index=['did_not_survive', 'survived'], columns = ['did_not_survive_predicted', 'Survived_predicted']) 
conf_matrix

                 did_not_survive_predicted  Survived_predicted
did_not_survive                        119                  15
survived                                25                  56

In [129]:
#Accuracy
(119+25)/(119+25+15+56)

0.6697674418604651

In [130]:
#precision
(119)/(119+15)

0.8880597014925373

In [131]:
#recall 
(119)/(119+25)

0.8263888888888888

In [132]:
sklearn.metrics.balanced_accuracy_score(

SyntaxError: unexpected EOF while parsing (<ipython-input-132-6a2d3ab7d521>, line 1)